.seccion-buscador{
    @include displayflex();
    margin-bottom: 35px;
}


label{
    @include  nav-busqueda();
   margin-right: 15px;
}

.input-busqueda{
    border: $color-terciario;
    color: $color-principal;
    background: $color-secundario;
    font-family: $tipografia-principal;
    height: 30px;
    border-radius: 5px;
    margin-top: 180px;
}