.seccion-buscador{
    @include displayflex();
    margin-bottom: 35px;
}


label{
    @include  nav-busqueda();
   margin-right: 15px;
}

.input-busqueda{
    margin-top: 180px;
    background-color: $color-principal;
    border: 0;
    border-bottom: solid 3px $color-terciario;
    font-family: $tipografia-principal;
    color: $color-secundario;

}

.input-busqueda::placeholder{
    color: $color-secundario;
}

