.contenedor-tarjetas{
    @include displayflex()
}

.tarjeta {
    @include  card();
    @include displayflex($direction:column, $content: space-between)
}

.contenedor-imagen{
    @include contenedor-imagen();
    @include displayflex($aling: top);
}

#imagen-personaje{
    @include imagen-card()
}

.contenedor-tarjetas-episodios{
    @include displayflex()
}

.tarjeta-episodio{
    @include  card($width: 220px);
    font-size: 15px;
    height: auto;
}

.contenedor-tarjetas-individuales{
    @include displayflex();
}

.tarjeta-individual{
    @include  card($width: 300px);
    @include displayflex($direction:column, $content: space-between);
    height: 350px;
}

