nav{
 @include displayflex($content: space-around);
 @include nav()
}

.botones-nav{
    @include displayflex();
}

li{
   padding: 0 30px 10px 0;
   
}

html:hover .img-caravan{
    transform: translateX(350px);
}

.img-caravan{
    width: 180px;
    transition: 1s;
    position: relative;
    left: -350px;
}

.botones-nav{
   list-style: none;
   @include  nav-busqueda()
}

.boton-nav:hover{
    border-bottom: solid 3px $color-terciario;
    transition: 0.2s;
}