nav{
 @include displayflex($content: space-around);
 @include nav()
}

.botones-nav{
    @include displayflex();
}

li{
    padding: 15px;
}

.img-caravan{
    width: 180px;
}

.botones-nav{
   list-style: none;
   @include  nav-busqueda()
}

