.seccion-episodios{
    font-family: $tipografia-principal;
    color: $color-secundario;
}

.titulo-episodios{
    text-align: center;
    font-weight: 400;
    padding-top: 150px;
}

.info-general{
    @include displayflex($content: space-around);
    font-family: $tipografia-principal;
    color: $color-secundario;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    padding-top: 180px;
}

.contenedor-parrafo{
    width: 600px;
}

