
.info-general{
    @include displayflex($content: space-around);
    font-family: $tipografia-principal;
    color: $color-secundario;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    padding-top: 180px;
}

.contenedor-parrafo{
    width:70%;
}

.seccion-episodios{
    font-family: $tipografia-principal;
    color: $color-secundario;
}

.titulo-episodios{
    text-align: center;
    font-weight: 400;
    padding-top: 150px;
}

footer{
@include displayflex($direction: column);
color: $color-terciario;
font-family: $tipografia-principal;
font-weight: 200;
position: absolute;
left:30%;
bottom: 20px;
}

.contenerdor-iconos-footer{
    @include displayflex($content:space-between);
    width: 40%;
    margin: auto;
}
.boton-icono-footer{
    color: $color-terciario;
    font-size: 20px;
}