@media (max-width: 913px) {
  .img-hero {
    display: none;
  }
  .img-hero-secundaria.ocultar {
    display: block;
    width: 50%;
    margin: auto;
    position: relative;
    top: 200px;
  }
  #footer {
    position: absolute;
    left: 15%;
    bottom: 80px;
  }
  .contenedor-parrafo {
    font-size: 15px;
    width: 60%;
  }
}

@media (max-width: 769px) {
  .img-hero-secundaria.ocultar {
    position: relative;
    top: 300px;
  }
  #contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 541px) {
  .img-hero-secundaria.ocultar {
    width: 40%;
    position: relative;
    top: 180px;
  }
  #footer {
    font-size: 10px;
    position: absolute;
    left: 15%;
    bottom: 20px;
  }

  .boton-nav {
    font-size: 20px;
  }
  .nav {
    padding-bottom: 1px;
  }
}

@media (max-width: 415px) {
  .img-hero-secundaria.ocultar {
    width: 45%;
    position: relative;
    top: 320px;
  }

  #footer {
    font-size: 10px;
    position: absolute;
    left: 5%;
    bottom: 20px;
  }
}

@media (max-width: 391px) {
  #footer {
    font-size: 9px;
    position: absolute;
    left: 5%;
    bottom: 15px;
  }
}
