@mixin displayflex ($direction: row, $content:center, $aling: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $aling;
    flex-wrap: wrap;
   }
   
   //no toma el width como parametro - lo quiero cambiar en la card de episodios
   @mixin card ($width: 180px,){
       width: 180px;
       height: 300px;
       padding: 20px;
       margin: 15px;
       border: 2px solid $color-cuaternario;
       border-radius: 5px;
       color: $color-principal;
       font-family: $tipografia-principal;
       background-color: $color-tarjeta-adentro;
       box-shadow: 5px 5px 12px -3px $color-terciario;
   }
   
   @mixin imagen-card(){
       width: 100%;
       box-shadow: 5px 5px 12px -3px $color-principal;
   }
   
   @mixin contenedor-imagen(){
       width: 160px;
   }

   @mixin imagen-nav(){
    width: 100%;
}

    @mixin contenedor-imagen-nav(){
    width: 100px;
    
    }

    @mixin nav-busqueda(){
        font-family: $tipografia-principal;
        color: $color-secundario;
        font-weight: 600;
        font-size: 25px;
    }

    @mixin nav(){
        background-color: $color-principal;
        position: fixed;
        z-index: 3;
        padding-bottom: 20px;
        width: 100%;
        height: 200 px;
        box-shadow: 5px 5px 12px -3px $color-terciario;
        font-weight: 200;
    }