@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "mixin";
@import "variables";
@import "componentes/card";
@import "componentes/nav";
@import "componentes/campo-busqueda";
@import "componentes/main";
@import "componentes/secciones";
@import "componentes/paginador";
@import "componentes/botones";


body{
    background-color:$color-principal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vw;
}
  
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.ocultar{
    display: none;
}

