@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&family=Inter:wght@300;400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.contenedor-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta {
  width: 180px;
  height: 240px;
  padding: 20px;
  margin: 15px;
  border: 2px solid #6E6A5E;
  border-radius: 5px;
  color: #0e0d0d;
  font-family: "Fira Sans", sans-serif;
  background-color: #eaecec;
  box-shadow: 5px 5px 12px -3px #EBD387;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-imagen {
  width: 160px;
  height: 160px;
  overflow: hidden;
  box-shadow: 5px 5px 12px -3px #0e0d0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
}

#imagen-personaje {
  width: 100%;
}

.contenedor-tarjetas-episodios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-episodio {
  width: 220px;
  height: 240px;
  padding: 20px;
  margin: 15px;
  border: 2px solid #6E6A5E;
  border-radius: 5px;
  color: #0e0d0d;
  font-family: "Fira Sans", sans-serif;
  background-color: #eaecec;
  box-shadow: 5px 5px 12px -3px #EBD387;
  font-size: 15px;
  height: auto;
}

.contenedor-tarjetas-individuales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-individual {
  width: 350px;
  height: 240px;
  padding: 20px;
  margin: 15px;
  border: 2px solid #6E6A5E;
  border-radius: 5px;
  color: #0e0d0d;
  font-family: "Fira Sans", sans-serif;
  background-color: #eaecec;
  box-shadow: 5px 5px 12px -3px #EBD387;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 350px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0e0d0d;
  position: fixed;
  z-index: 3;
  padding-bottom: 20px;
  width: 100%;
  height: 200 px;
  box-shadow: 5px 5px 12px -3px #EBD387;
  font-weight: 200;
}

.botones-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  padding: 0 30px 10px 0;
}

.img-caravan {
  width: 180px;
}

.botones-nav {
  list-style: none;
  font-family: "Fira Sans", sans-serif;
  color: #EEE7CF;
  font-weight: 600;
  font-size: 25px;
}

.boton-nav:hover {
  border-bottom: solid 3px #EBD387;
  transition: 0.2s;
}

.seccion-buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

label {
  font-family: "Fira Sans", sans-serif;
  color: #EEE7CF;
  font-weight: 600;
  font-size: 25px;
  margin-right: 15px;
}

.input-busqueda {
  margin-top: 180px;
  background-color: #0e0d0d;
  border: 0;
  border-bottom: solid 3px #EBD387;
  font-family: "Fira Sans", sans-serif;
  color: #EEE7CF;
}

::placeholder {
  color: #EEE7CF;
}

.contenedor-img-hero {
  width: 100 vw;
  height: 480px;
}

.img-hero {
  margin-top: 130px;
  width: 100%;
}

.seccion-episodios {
  font-family: "Fira Sans", sans-serif;
  color: #EEE7CF;
}

.titulo-episodios {
  text-align: center;
  font-weight: 400;
  padding-top: 150px;
}

.info-general {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Fira Sans", sans-serif;
  color: #EEE7CF;
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  padding-top: 180px;
}

.contenedor-parrafo {
  width: 600px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 90px;
  color: #EBD387;
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}

.contenerdor-iconos-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
}

.boton-icono-footer {
  color: #EBD387;
  font-size: 20px;
}

.contenedor-paginador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  margin-top: 10px;
}

.boton-volver {
  background-color: #0e0d0d;
  color: #EEE7CF;
  border: 0;
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
}

span {
  padding-right: 10px;
  padding-left: 10px;
}

.boton-volver:hover {
  border-bottom: solid 3px #EBD387;
  transition: 0.2s;
}

#anterior {
  background-color: #0e0d0d;
  color: #EEE7CF;
  border: 0;
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
}

#siguiente {
  background-color: #0e0d0d;
  color: #EEE7CF;
  border: 0;
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
}

#anterior:hover {
  border-bottom: solid 3px #EBD387;
  transition: 0.2s;
}

#siguiente:hover {
  border-bottom: solid 3px #EBD387;
  transition: 0.2s;
}

body {
  background-color: #0e0d0d;
}

.ocultar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
