/* Es preferible importar las tipografias en el HTML (su carga es mas rapida) */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


@import "mixin";
@import "variables";
@import "mediaquerys";
@import "componentes/card";
@import "componentes/nav";
@import "componentes/campo-busqueda";
@import "componentes/main";
@import "componentes/secciones";
@import "componentes/paginador";
@import "componentes/botones";

// Recordá la prolijidad en css, aquí estas usando mal el tabulado, debes dejar un espacio
// entre el selector y {, debes ser consistente con los saltos de linea entre selectores
body{
    background-color:$color-principal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.ocultar{
    display: none;
}

