@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "resets";
@import "mixin";
@import "variables";
@import "componentes/card";
@import "componentes/nav";
@import "componentes/campo-busqueda";
@import "componentes/main";
@import "componentes/secciones";
@import "componentes/paginador";


body{
    background-color:$color-principal;
}

.ocultar{
    display: none;
}

