$color-principal: #7c7c7c;
$tipografia-principal: 'Helvetica';
$color-secundario: #3ea372;
$color-terciario: #aff7d3;
$tipografia-secundaria: 'Courier New';
$distancia-sombra: 15px;
$sombra: rgba(0, 0, 0, 0.35) 0px 5px $distancia-sombra;
$color-tarjeta-adentro: #d6dbd9;