@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

$color-principal: #54534f;
$tipografia-principal: 'Inter', sans-serif;
$color-secundario: #EEE7CF;
$color-terciario: #EBD387;
$color-cuaternario:#6E6A5E;
$tipografia-secundaria: 'Courier New';
$distancia-sombra: 15px;
$sombra: rgba(0, 0, 0, 0.35) 0px 5px $distancia-sombra;
$color-tarjeta-adentro: #d6dbd9;